# Main utils
flask
flask-sqlalchemy
flask-marshmallow
sqlalchemy
marshmallow_sqlalchemy

# Miscellaneous
python-dotenv
marshmallow
marshmallow-enum
flask-jwt-extended
Flask-Mail
werkzeug

# Flask utils
flask-restful
flask-bcrypt
flask-cors
celery[redis]

# Production libraries
wheel
gunicorn

# Database utils
psycopg2

# Testing libraries
unittest2
nose